# Практическая работа №2 
## Тема: «Операции с данными»
### Выполнил студент: ???
#### ВАРИАНТ: ???

#### Задание 1. Очистка пустых значений

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('datasets\Data1.xlsx', sheet_name = '1')

In [2]:
df

,№,Фамилия,Имя,Отчество,1,2,3,4,5,6,7,8,9,10
0,1,Абрамов,Руслан,Закирович,24.0,45.0,67.0,23.0,90.0,67.0,45.0,45.0,77.0,99.0
1,2,Байтоков,Ниязбек,Дулатович,NaN,12.0,2.0,45.0,65.0,12.0,12.0,12.0,54.0,45.0
2,3,Боярская,Владислава,Александровна,34.0,67.0,68.0,12.0,65.0,NaN,NaN,NaN,NaN,12.0
3,4,Григорьева,Анастасия,Алексеевна,NaN,67.0,34.0,67.0,65.0,45.0,45.0,45.0,NaN,NaN
4,5,Ефименко,Александр,Андреевич,NaN,12.0,54.0,45.0,3.0,12.0,34.0,12.0,54.0,45.0
5,6,Иванов,Егор,Николаевич,34.0,NaN,NaN,12.0,65.0,NaN,NaN,NaN,NaN,12.0
6,7,Казакевич,Ангелина,Витальевна,NaN,45.0,NaN,54.0,65.0,45.0,45.0,45.0,NaN,54.0
7,8,Кащенко,Виталий,Андреевич,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Кладий,Александр,Сергеевич,NaN,12.0,54.0,45.0,65.0,12.0,45.0,65.0,12.0,NaN
9,10,Климков,Артем,Алексеевич,NaN,NaN,NaN,12.0,65.0,45.0,65.0,12.0,12.0,NaN
10,11,Кожаева,Арина,Сергеевна,24.0,45.0,67.0,23.0,90.0,67.0,45.0,45.0,678.0,99.0
11,12,Кондратов,Данил,Сергеевич,54.0,45.0,3.0,12.0,34.0,12.0,54.0,45.0,NaN,NaN
12,13,Лоташ,Антон,Андреевич,24.0,45.0,67.0,23.0,90.0,67.0,45.0,45.0,76.0,99.0
13,14,Мухина,Анастасия,Александровна,24.0,45.0,67.0,23.0,90.0,67.0,45.0,45.0,6.0,99.0
14,15,Рахимова,Алсу,Рамилевна,NaN,12.0,2.0,45.0,65.0,12.0,12.0,12.0,54.0,45.0
15,16,Самсонова,Екатерина,Юрьевна,34.0,67.0,68.0,12.0,65.0,NaN,NaN,NaN,NaN,12.0
16,17,Соколов,Вячеслав,Павлович,NaN,67.0,34.0,67.0,65.0,45.0,45.0,45.0,NaN,NaN
17,18,Тюрин,Вячеслав,Дмитриевич,NaN,12.0,54.0,45.0,3.0,12.0,34.0,12.0,54.0,45.0
18,19,Халиуллин,Руслан,NaN,34.0,NaN,NaN,12.0,65.0,NaN,NaN,NaN,NaN,12.0
19,20,Черников,Виктор,Сергеевич,NaN,45.0,NaN,54.0,65.0,45.0,45.0,45.0,NaN,54.0
20,21,Шеломенцев,Никита,Сергеевич,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Бронников,Даниил,Сергеевич,NaN,12.0,54.0,45.0,65.0,12.0,45.0,65.0,12.0,NaN

In [3]:
df.shape

(22, 14)

In [8]:
df.isnull().sum()

№            0
Фамилия      0
Имя          0
Отчество     1
1           13
2            5
3            7
4            2
5            2
6            6
7            6
8            6
9           11
10           8
dtype: int64